<div class="container container-top">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 sign-up-form">
			<h2 class="Gotham txtCenter">Sign up</h2>	

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<!--
	  <div><%= f.label :email, class: "Gotham" %>
	  <%= f.email_field :email, class: "login_form full-width" %></div>	
	-->

	<div><%= f.label :name, class: "Gotham" %>
		<%= f.text_field :name, class: "login_form full-width" %></div>

		<div><%= f.label :password, class: "Gotham" %>
			<%= f.password_field :password, class: "login_form full-width"  %></div>	

			<div><%= f.label :password_confirmation, class: "Gotham" %><br />
				<%= f.password_field :password_confirmation, class: "login_form full-width" %></div>	

<!--	  <div>
	  	<%= f.label :avatar %><br />
	  	<%= f.file_field :avatar %>
	  </div>	
	-->
	<div><%= f.submit "Sign up", class: "btn btn-primary btn-block btn-sign-up" %></div>
	<% end %>	
</div>
</div>
<div class="col-md-4"></div>

</div>