<div class="container">
  <div class="row">
    <div class="col-md-4">
      test
    </div>
    <div class="col-md-4">
      test
    </div>
    <div class="col-md-4">
      test
    </div>
  </div>

</div>

<h1>トピック一覧</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      test
    </div>
    <div class="col-md-4">
      test
    </div>
    <div class="col-md-4">
      test
    </div>
  </div>

</div>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.name %></td>
        <td><%= topic.content %></td>
        <td><%= link_to 'Show', board_topic_path(topic.board, topic) %></td>
        <td><%= link_to 'Edit', edit_board_topic_path(topic.board ,topic) %></td>
        <td><%= link_to 'Destroy', board_topic_path(topic.board, topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_board_topic_path %>
