<div class="container container-top container-main">
  <div class="row">
    <div class="col-md-12 board_title">
      <p class="board_title"><%= @board.board_name %></p>
    </div>

    <div class="col-md-12">
        <%= link_to 'New Topic', new_category_board_topic_path(@category, @board), class: "btn btn-primary btn-create-topic" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% @topics.each do |t| %>
      <div class="topic">
        <div class="bs-callout bs-callout-info topic_title <%= cycle("odd", "even")%>">
          <p>
            <%= link_to t.title, category_board_topic_path(@category, @board, t) %>
            <span class="pull-right"><%= t.created_at.to_formatted_s(:extra_short) %></span>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

