<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown @topic.content %>
</p>

<h3></h3>
<% @topic.comments.each do |comment| %>
	<div>
		<strong><%= comment.name %></strong>
		</br>
		<%= comment.body %>
	</div>
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_category_board_topic_path(@category, @board, @topic) %> |
<%= link_to 'Back', category_board_topics_path(@category, @board) %>
