	<div class="container topic-show-title">
	  <p class="board_title"><%= @topic.title %></p>
	</div>
	<p><%= image_tag(@topic.clip.url(:medium)) %></p>
	<p><%= image_tag(@topic.image_url) if @topic.image_url.present? %></p>
	<p><%= puts @topic.title %></p>

	<strong>内容</strong>
	<p>Tags: <%= raw @topic.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
	<p>Voted Number: <%= @voted_num %></p>
	<p>User_id: <%= current_user.id if user_signed_in? %></p>
	<p>Visit: <%= ahoy.visit_id %></p>
	<p>Access_num: <%= @count_of_access %></p>
	<p>
	  <%= markdown @topic.content %>
	</p>	
	<p>=================================</p>
	<p>Image URL: <%= @topic.image_url %></p>
	<p>Image in /apps/assets:<%= image_tag('20080105_0_____1.jpg') %></p>



	<h3>コメント</h3>
	<hr>		
		<% @topic.comments.each do |comment| %>
			<div>
				<strong><%= comment.name %></strong>
				</br>
				<%= markdown comment.body.to_s %>
			</div>
		<% end %>

	<%= render 'comments/form' %>	
	<%= link_to 'Vote', vote_path(params) %>
	<%= link_to '編集', edit_category_board_topic_path(@category, @board, @topic) %> |
	<%= link_to '戻る', category_board_topics_path(@category, @board) %>

<script>
	ahoy.trackview();
</script>