	<div class="container container-fluid">
		<div class="row">
			<div class="col-md-12 col-topic-title">
				<span class="posteby-name">Posted by <%= @topic.user.email %></span>
				<span class="access-count"><%= @count_of_access %> views</span>

				<h1 class="topic_title"><%= @topic.title %></h1>
			</div>
			<div class="col-md-12 col-topic-desc-bottom-line">
				<div class="col-topic-desc"><p class="topic-desc"><%= markdown @topic.content %></p></div>
			</div>
		</div>
	</div>
<!--	<p><%= image_tag(@topic.clip.url(:medium)) %></p> -->
<!--	<p>Tags: <%= raw @topic.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>  -->
<!--	<p>Voted Number: <%= @voted_num %></p><%= link_to 'Vote', vote_path(params) %> -->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="discussion-declaration">Discussion</h2>	
			</div>
		</div>
		<% if user_signed_in? %>
			<div class="row">
				<div class="col-md-12">
					<%= render 'comments/form' %>	
				</div>
			</div>
		<% end %>
		<div class="row"> 
			<div class="col-md-12">
				<% @topic.comments.each do |comment| %>
					<%= markdown comment.body.to_s %>
				<% end %>
			</div>
		</div>
	</div>


<script>
	ahoy.trackview();
</script>