<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<%= link_to 'Edit', edit_board_topic_path(@board, @topic) %> |
<%= link_to 'Back', board_topics_path(@board) %>
