	<div class="container topic-show-title">
	  <p class="board_title"><%= @topic.title %></p>
	</div>


	<strong>内容</strong>
	<p>Tags: <%= raw @topic.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
	<p>
	  <%= markdown @topic.content %>
	</p>	

	<h3>コメント</h3>
	<hr>		
		<% @topic.comments.each do |comment| %>
			<div>
				<strong><%= comment.name %></strong>
				</br>
				<%= markdown comment.body.to_s %>
			</div>
		<% end %>
	

	<%= render 'comments/form' %>	

	<%= link_to '編集', edit_category_board_topic_path(@category, @board, @topic) %> |
	<%= link_to '戻る', category_board_topics_path(@category, @board) %>
