<div class="container container-top">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4 sign-up-form">
        <h2 class="Gotham txtCenter">Sign in</h2>
        <%= devise_error_messages! %>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div>
            <%= f.label :name, class: "Gotham" %><br />
            <%= f.text_field :login, class: "login_form full-width" %>
          </div>

          <div>
            <%= f.label :password, class: "Gotham" %><br />
            <%= f.password_field :password, class: "login_form full-width" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div>
              <%= f.check_box :remember_me %> <%= f.label :remember_me, class: "Gotham" %>
            </div>
          <% end -%>

          <div>
            <%= f.submit "Sign in", class: "btn btn-primary btn-block btn-sign-in Gotham" %>
          </div>
        <% end %>
        <%= button_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary btn-block fivePxMargin btn-sign-up Gotham" %>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>
